.nav-link.color-dark{
  color: black !important;
}

.first__section{
  background-image: url('./media/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.first__section__heading{
  font-family: 'Gilroy-ExtraBold';
  font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 3rem);
  color:#CC0000;
}

.first__section__subheading{
  font-family: 'Gilroy-Light';
  color: #518f49;
  word-break: break-word;
}

.first__section__button{
  background: rgba(255,255,255, .4) !important;
  border-radius: 50px;
}

li{
  word-break: break-word;
}

.photo__slider{
  max-height: 200px;
}

.photo__slider img{
  margin-right: 10px;
  max-height: 200px;
}

.statistic{
  word-break: break-word;
  font-size: 28px;
  font-family: 'Gilroy-ExtraBold';
  color: #CC0000;
}

.statistic__button{
  color: white;
  background: #CC0000 !important;
  word-wrap: none;
}

.colored{
  background: #CC0000;
  color: white;
}

.section__heading{
  color: #CC0000;
  font-family: 'Gilroy-ExtraBold';
  text-transform: uppercase;
}

.md-form input[type=text]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #CC0000;
  border-bottom: 1px solid #CC0000;
}

.md-form{
  color: #CC0000;
}

.fa.active.prefix{
  color: #CC0000
}

.md-form input[type=text]:focus:not([readonly]) + label,
.md-form input[type=email]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label,
.md-form input[type=password]:focus:not([readonly]) + label{
  color:#CC0000;
}

.slick-initialized{
  display: flex;
}

.contact__map{
  min-width: 100%;
  max-width: 230px;
}

.btn:hover{
  color: white;
}

.tabs__btn{
  min-width: 200px;
}

.news__heading{
  color: #CC0000;
  font-weight: bold
}

.news__link{
  display: flex;
  align-items: center;
}

.nav-link.nav-tab.active{
  background: #CC0000;
  color: white
}

.footer{
  margin-top: auto;
}

@font-face{
  font-family: 'Gilroy-thin';
  src: url('./media/fonts/Gilroy-Thin.ttf');
  src: url('./media/fonts/Gilroy-Thin.woff');
}

@font-face{
  font-family: 'Gilroy-ExtraBold';
  src: url('./media/fonts/Gilroy-ExtraBold.ttf');
  src: url('./media/fonts/Gilroy-ExtraBold.woff');
}

@font-face{
  font-family: 'Gilroy-Light';
  src: url('./media/fonts/Gilroy-Light.ttf');
  src: url('./media/fonts/Gilroy-Light.woff');
}